<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Investment</title>
</head>
<body>
    <h1>Edit Investment</h1>

    <form action="/investments/<%= investment.id %>/edit" method="POST">
        <div>
            <label>Select Company:</label>
                <div>
                    <select name="CompanyId">
                        <% companies.forEach(company => { %>
                            <option value="<%= company.id %>" <%= company.id === investment.CompanyId ? "selected" : "" %>> <%= company.name %> </option>
                        <% }) %>
                    </select>
                </div>
        </div>
        <br>
        
        <div>
            <label>Investment Name:</label>
            <div>
                <input type="text" id="name" name="name" value="<%= investment.name %>" required>
            </div>
        </div>
        <br>

        <div>
            <label>Description:</label>
            <div>
                <textarea id="description" name="description" required><%= investment.description %></textarea>
            </div>            
        </div>
        <br>
        
        <div>
            <label>Investment Type:</label>
            <div>
                <select id="investmentType" name="investmentType">
                    <option value="low risk" <%= investment.InvestmentType === "low risk" ? "selected" : "" %>>Low Risk</option>
                    <option value="medium risk" <%= investment.InvestmentType === "medium risk" ? "selected" : "" %>>Medium Risk</option>
                    <option value="high risk" <%= investment.InvestmentType === "high risk" ? "selected" : "" %>>High Risk</option>
                </select>
            </div>
        </div>
        <br>
        
        <div>
            <label>Investment Amount:</label>
            <div>
                <input type="number" id="amount" name="amount" value="<%= investment.amount %>" required>
            </div>
        </div>
        <br>

        <div>
            <button type="submit">Update Investment</button>
        </div>
        <br>
    </form>
    <br>

    <a href="/">Kembali</a>
</body>
</html>